body {
	font-family: sans-serif;
}
header {
	width: 100%;
	float: left;
	background-color: #ae9700;
	padding: 5px 0;
}
h3 {
	color: #333;
}

section {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 30px;
}
.container {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	width: 20%;
	float: left;
}
.logo h2{
	margin: 15px 0;
}
.menu {
	float: left;
	width: 80%;
	text-align: center;
	margin: 35px 0 0;
}
.search {
	width: 300px;
	float: left;
	padding: 5px 0;
}
.search input {
	width: 100%;
	border: 0;
	height: 20px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
nav {
	/*width: 100%;*/
	float: left;
	margin: 0 30px;
}
nav ul {
	list-style: none;
	padding: 0;
	float: left;
	margin: 15px 0;
}
nav ul li {
	float: left;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 15px;
	/*line-height: 50px;*/
}
nav ul li a{
	color: #fff;
	display: block;
	text-decoration: none;
	font-size: 16pt;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
	
}
nav ul li:hover a{
	color: rgba(33, 33, 33, 0.7);
}
.login {
	width: 150px;
	float: left;
	height: 40px;
	border: 2px solid #333;
	background-color: transparent;
	border-radius: 5px;
	float: right;
	margin-top: 5px;
}
.slider {
	margin: 0;
}
.help-sec {
	line-height: 120px;
	background-color: #ae9700;
	
}
.help-head {
	/*position: relative;*/
	width: 33.33%;
	float: left;
	height: 120px;
	background-color: #666;
	color: #fff;
}
.help-head h1{
	margin: 0 0 0 15%;
	font-size: 24pt;
	color: #fff;
}
.how-help {
	position: relative;
	width: 66.66%;
	float: left;
	text-align: center;
	list-style: none;
}
.how-help li{
	width: 50%;
	float: left;
	height: 120px;
}
.kunipp {
    width: 0px;
    position: absolute;
    border-style: solid;
    left: -50px;
    top: 0px;
    border-width: 70px 0px 50px 50px;
    border-color: #ae9700 #666;
    
}
.how-help li h3{
	font-size: 18pt;
}
.how-help li:hover .kunipp{
	border-color: #cfb300 #666;
}
.how-help li:hover {
	background-color: #cfb300;
}
.how-help li h3 {
	color: #fff;
}
.how-help li a{
	display: block;
}
.pathayam-details {
	width: 100%;
	float: left;
}
.pathayam-details li{
	width: 50%;
	float: left;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px;
}

.pathayam-details li h2, .pathayam-details li p{
	margin: 20px 0;
	line-height: 1.5;
	/*box-sizing: border-box;*/
	/*padding-right: 30px;*/
}
.read-more {
	width: 120px;
	padding: 5px 10px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	float: right;
	/*margin-right: 50px;*/
	border: 0;
	border-radius: 3px;
	background-color: rgba(33, 33, 33, 0.5);
	-webkit-transition: background-color 0.15s ease;
	-moz-transition: background-color 0.15s ease;
	-ms-transition: background-color 0.15s ease;
	-o-transition: background-color 0.15s ease;
	transition: background-color 0.15s ease;
	
}
.read-more:hover {
	background-color: rgba(33, 33, 33, 0.7);
}
.testimonial {
	background-color: rgba(215, 215, 215, 0.4);
	margin: 0;
}
.testimonial-list {
	width: 100%;
	float: left;
	text-align: center;
	list-style: none;
	margin-top: 30px;
}
.testimonial-list li{
	width: 33.33%;
	float: left;
}
.testimonial-list li img{
	margin-top: 30px;
	border-radius: 50%;
}
.testimonial-list li h4, .testimonial-list li p{
	margin: 10px;
}
.caption {
	position: relative;
	width: 85%;
	background-color: #aaa;
	margin: 0 auto;
	border-radius: 5px;
	min-height: 200px;
	/*overflow: hidden;*/
}
.caption:before{
	pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /*-webkit-transition-property: transform;
  transition-property: transform translateY(10px);*/
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  left: calc(50% - 20px);
  bottom: 0;
  border-width: 20px 20px 0;
  border-color: #8D8D8D transparent transparent;
}
.caption p{
	padding: 20px 10px;
}
.site-map {
	background-color: #666;
	margin: 0;
	width: 100%;
	float: left;
}
.site-map-list {
	width: 60%;
	list-style: none;
	float: left;
	padding-top: 30px;
}
.site-map-list li{
	width: 33.33%;
	float: left;
}
.site-map-list li a{
	display: block;
	padding-left: 40px;
	margin: 0px 0 10px;
	color: #fff;
}
.site-map-list li a:first-child{
	padding: 0;
}
.site-map-list li a:hover {
	text-decoration: underline;
}
.site-map-list li a h3{
	color: #ffdd00;
}
.address {
	float: right;
	color: #fff;
	width: 35%;
	margin-top: 30px;
}
.address p {
	margin: 10px 0 0px 30px;
}
.connect {
	width: 100%;
	float: left;
}
.social-links {
	max-width: 50%;
	margin: 30px auto;
	overflow: hidden;
	text-align: center;
}
.connect-us {
	max-width: 40%;
	float: left;
	margin: 0 20px;
}
.connect-us h3 {
	font-weight: lighter;
	line-height: 40px;
}
.connect button {
	width: 100px;
	float: left;
	height: 40px;
	line-height: 40px;
	border: 0;
	background-color: #cfb300;
}
.connect button:hover {
	background-color: #ae9700;
}
.social-net {
	max-width: 30%;
	float: left;
	margin: 0 20px;
}
.social-net img {
	border-radius: 50%;
}
.rights {
	width: 100%;
	margin: 10px 0;
	float: left;
	color: #fff;
}
/*ffdd00*/